{{ template "layouts/_header.html" }}
<div class="flex h-screen bg-gray-100">
    <aside class="w-64 bg-white shadow-lg flex-shrink-0">
        <div class="p-4 border-b">
            <h2 class="text-lg font-bold text-gray-800">Menu Staff</h2>
        </div>
        {{template "layouts/_staff_sidebar.html" (dict "ActiveMenu" "dashboard")}}
    </aside>
    <div class="flex-1 flex flex-col overflow-hidden">
        {{ template "pages/staff/_dashboard_content.html" . }}
    </div>
</div>
{{ template "layouts/_footer.html"}}
